properties:
  environmentId: "$ENV_ID"
  configuration:
    activeRevisionsMode: Single
    ingress:
      external: true
      targetPort: 8000
      transport: auto
      allowInsecure: false
      customDomains:
        - name: news.klos.wtf
          certificateId: /subscriptions/c37baf32-cec3-452b-9640-18ec4100c146/resourceGroups/personal-rg/providers/Microsoft.App/managedEnvironments/klos-apps-env/managedCertificates/news-klos-wtf-cert
          bindingType: SniEnabled
    secrets:
      - name: db-url
        value: "$DATABASE_URL"
      - name: secret-key
        value: "$SECRET_KEY"
      - name: acr-password
        value: "$ACR_PASSWORD"
    registries:
      - server: kloshost.azurecr.io
        username: kloshost
        passwordSecretRef: acr-password
  template:
    scale:
      minReplicas: 0
      maxReplicas: 1
    containers:
      - image: "$IMAGE_WEB"
        name: feverish-web
        env:
          - name: DATABASE_URL
            secretRef: db-url
          - name: SECRET_KEY
            secretRef: secret-key
          - name: DJANGO_ALLOWED_HOSTS
            value: "news.klos.wtf"
          - name: CSRF_TRUSTED_ORIGINS
            value: "https://news.klos.wtf"
          - name: DEBUG
            value: "False"
