properties:
  environmentId: "$ENV_ID"
  configuration:
    activeRevisionsMode: Single
    ingress:
      external: true
      targetPort: 8000
      transport: auto
      allowInsecure: false
    secrets:
      - name: db-url
        value: "$DATABASE_URL"
      - name: secret-key
        value: "$SECRET_KEY"
      - name: acr-password
        value: "$ACR_PASSWORD"
    registries:
      - server: kloshost.azurecr.io
        username: kloshost
        passwordSecretRef: acr-password
  template:
    scale:
      minReplicas: 0
      maxReplicas: 1
    containers:
      - image: "$IMAGE_WEB"
        name: feverish-web
        env:
          - name: DATABASE_URL
            secretRef: db-url
          - name: SECRET_KEY
            secretRef: secret-key
          - name: DJANGO_ALLOWED_HOSTS
            value: "news.klos.wtf"
          - name: DEBUG
            value: "False"
